.card-items {
    overflow: hidden;
    width: 437px;
    /* width: 490px; */
    background-color: #F9F9FC;
    border-radius: 15px;
    padding: 2rem 0;
}

.card-items:hover {
    box-shadow: 0px 4px 20px 0px rgba(72, 119, 159, 0.18);
    background: #fff;
}

.card-items:hover .card-btn-product {
    opacity: 1;
    visibility: visible;
    transform: translateY(-5px);
}

.card-btn-product {
    transform: translateY(20px);
    opacity: 0;
    visibility: hidden;
    transition: all .2s ease-in-out;
}

.card-infor-product {
    padding: 0 .5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

