.title-homepage{
    font-size: 48px;
    font-weight: 600;
}

.sub-title-homepage{
    font-size: 20px;
    margin-top: 1rem;
    font-weight: 300;
}

.title-catalogue{
    font-size: 36px;
    font-weight: 600;
}

.sub-title-catalogue{
    font-size: 16px;
    margin-top: 1rem;
    font-weight: 300;
}